{% load static %}
<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <h5 style = "margin-top: 24px;"> Assessment Test</h5>	
        </div>
        <ul class="sidebar-menu">
           
            
				<li id ="customer_list"><a class="nav-link" href="/home/"><i data-feather="users"></i><span>Interviewers</span></a></li>
				<li id ="dashboard"><a class="nav-link" href="/interview/"><i data-feather="layout"></i><span>Interviews</span></a></li>
			
			
			
        </ul>
    </aside> 
</div>